<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns = "http://www.springframework.org/schema/beans"
       xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop = "http://www.springframework.org/schema/aop"
       xsi:schemaLocation = "http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans.xsd
   http://www.springframework.org/schema/aop
   http://www.springframework.org/schema/aop/spring-aop.xsd ">

    <bean name="indexAction" class="com.mo2christian.recognition.web.action.IndexAction" scope="singleton"/>

    <bean name="detectAction" class="com.mo2christian.recognition.web.action.DetectAction" scope="singleton">
        <property name="storageService" ref="storageService"/>
        <property name="detectService" ref="detectService"/>
        <property name="translateService" ref="translateService"/>
        <property name="version" value="${project.version}"/>
    </bean>

    <bean id="storageService" class="com.mo2christian.recognition.web.service.StorageService" scope="singleton" init-method="init">
        <property name="defaultBucketName" value="reko-recognition-218419"/>
        <property name="defaultFolder" value="images"/>
    </bean>

    <bean id="detectService" class="com.mo2christian.recognition.web.service.DetectService" scope="singleton" init-method="init">
        <property name="defaultDetectUrl" value="https://detect-dot-recognition-218419.appspot.com/rest/scan"/>
    </bean>

    <bean id="translateService" class="com.mo2christian.recognition.web.service.TranslateService" scope="singleton" init-method="init">
        <property name="defaultTranslateUrl" value="https://translate-dot-recognition-218419.appspot.com/"/>
    </bean>

</beans>